APP_PORT=8080
PHPMYADMIN_PORT=8081

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=agrotrack
DB_USERNAME=agrotrack
DB_PASSWORD=agrotrack_password
DB_ROOT_PASSWORD=root_password
DB_FORWARD_PORT=3307
DB_TIMEOUT=3

AGROTRACK_DB_HOST=mysql
AGROTRACK_DB_PORT=3306
AGROTRACK_DB_NAME=agrotrack
AGROTRACK_DB_USER=agrotrack
AGROTRACK_DB_PASS=agrotrack_password
AGROTRACK_DB_TIMEOUT=3
