APP_ENV=production
APP_DEBUG=false
APP_URL=https://your-domain.com
APP_PORT=8090

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=agrotrack
DB_USERNAME=agrotrack_user
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_ROOT_PASSWORD=CHANGE_ME_STRONG_ROOT_PASSWORD
DB_TIMEOUT=3

PHPMYADMIN_PORT=8081
