.env
.env.*
!.env.example
!.env.production.example

/vendor/
/node_modules/

/storage/
/bootstrap/cache/
/cache/
/logs/
/tmp/

/assets/uploads/profile/*
!/assets/uploads/profile/.gitkeep

*.log
*.tmp
*.bak
*.swp
*.swo

.DS_Store
Thumbs.db

.idea/
.vscode/
